.layout-index{
    margin-top: 60px;
    margin-left: 60px;

    width: 1300px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.post{
    margin: 25px;
    margin-right: 0px;
    margin-bottom: 0px;

    background: #676382;

    height: 300px;
    width: 250px;
}
header{
    height: 200px;
    width: 250px;
}
.img-posted{
    height: 200px;
    width: 250px;
}

.estrelas input[type=radio]{
    display: none;
}.estrelas label i.fa:before{
    content: '\f005';
    color: #FC0;
}.estrelas  input[type=radio]:checked  ~ label i.fa:before{
    color: #CCC;
}
.btn-avaliar{
    border: none;
    border-radius: 5px;

    margin-left: 30px;

    padding: 5px;

}
article{
    margin-bottom: 20px;
}
.img-perfil{
    border-radius: 50%;
    border: solid 2px;

    height: 60px;
    width: 60px;
}
.nome-post{
    margin-top: -40px;
    margin-left: 65px;
    font-size: 15px;
}